.header {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  align-items: center;
  background: #143A52;

  &__list {
    margin-left: 20px;
    color: #fff;
    font-weight: 900;
    line-height: 50px;
    position: relative;
    transition: .5s;

    @media (min-width: 768px) {
      font-size: 20px;
    }
  }

  &__list::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 7px;
    background-color: #cb2d6f;
    transition: all 0.3s ease;
    transform: scaleX(0);
  }

  &__list:hover::after {
    transform: scaleX(1);
  }

  &__list:nth-of-type(2) {
    @media (min-width: 768px) {
      margin-left: 80px;
    }
  }
}

.active {
  color: #cb2d6f;
}
